.container {
  padding: 0 0;
  overflow-y: hidden;
}

.main {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
